AppKit==0.2.8
attr==0.3.2
charset_normalizer==3.4.1
checks==0.2
ConfigParser==7.2.0
cryptography==45.0.4
cython==3.1.4
docutils==0.21.2
filelock==3.17.0
Foundation==0.1.0a0.dev1
HTMLParser==0.0.2
hypothesis==6.148.1
ipython==8.12.3
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.7.0
mediapipe==0.10.21
mtrand==0.1
mypy==1.17.1
pickle5==0.0.12
pillow==11.1.0
protobuf==4.25.8
py2exe==0.14.0.0
pyinstaller==6.15.0
PyOpenGL==3.1.10
pyOpenSSL==25.3.0
PyQt5==5.15.11
pyqt5_sip==12.17.0
pytest==8.4.1
pytz==2025.1
pywin32==310
pyyaml==6.0.2
pyyaml==6.0.2
qtpy==2.4.3
Quartz==0.0.1.dev0
redis==7.0.1
rubicon==0.0.0
scipy_doctest==2.0.1
setuptools==80.9.0
setuptools==65.5.0
sphinx==8.1.3
threadpoolctl==3.5.0
typing_extensions==4.12.2
urllib3_secure_extra==0.1.0
Xlib==0.21
xmlrpclib==1.0.1
